body {
    background-image: url("../images/sunrise.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.game-title {
    margin: 25px;
    padding: 25px;
    border: 2px solid gray;
    width: 300px;
    background-color: lightskyblue;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}


.crystal-image {
    width: 100px;
    height: 100px;
}

.instructions {
    margin: 25px;
    columns: 1;
    padding: 25px;
    border: 2px solid gray;
    width: 500px;
    height: 250px;
    background-color: tan;
    color: darkblue;
    font-family: fantasy;
    line-height: 20px;
}

.target, .score {
    margin: 25px;
    columns: 1;
    padding: 25px;
    border: 2px solid gray;
    width: 250px;
    height: 15px;
    background-color: greenyellow;
    color: darkblue;
    font-family: fantasy;
    line-height: 10px;

}

.winsLossesBox {
    margin: 25px;
    columns: 1;
    padding: 25px;
    border: 2px solid gray;
    width: 125px;
    height: 50px;
    background-color: lightskyblue;
    color: darkblue;
    font-family: fantasy;
    line-height: 20px;

}

.row2 {
    margin: 25px;
    columns: 1;
    padding: 25px;
}